<!DOCTYPE html>
<html class="height-100">
    <head>
        <title>MongoDb Permission Error</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" href="favicon.ico">

        <link rel="stylesheet" href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <section class="banner">
            <div class="wrapper">
                <div class="main-title">
                    <h1 class="primary-text">Error 403</h1>
                </div>
                <div class="main-subtitle">
                    <p>You don't have permission to access this page. Login to access it.</p>
                </div>
                <div class="banner-buttons">
                    <a href="/login">Login</a>
                </div>
            </div>
        </section>
    </body>
</html>