<!DOCTYPE html>
<html class="height-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" href="favicon.ico">

    <link rel="stylesheet" href="css/style.css" rel="stylesheet">
</head>

<body>
    <section class="banner">
        <div class="wrapper">
            <div class="main-title">
                <h1 class="primary-text">MongoDB Registration</h1>
            </div>
            <form action="/signup" method="POST" class="login-form">
                <div>
                    <label>Name: </label>
                    <input type="text" name="name" />
                </div>
                <div>
                    <label>Address: </label>
                    <input type="text" name="address" />
                </div>
                <div>
                    <label>Address Number: </label>
                    <input type="number" name="addressNumber" />
                </div>
                <div>
                    <label>Username: </label>
                    <input type="text" name="username" />
                </div>
                <div>
                    <label>Password: </label>
                    <input type="password" name="password" />
                </div>
                 <%if(error){%>
                    <div>
                        <p class="error">
                            <%=error%>
                        </p>
                    </div>
                    <%}%>
                <div class="banner-buttons">
                    <input type="submit" value="Register" />
                </div>
            </form>
        </div>
    </section>
</body>

</html>